<ng-container>
  <div class="row">
    <div class="col-xs-12">
      <form
        [formGroup]="projectForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
            >Save</button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()"
            >Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="name">Project Name</label>
            <input
              type="text"
              id="name"
              formControlName="projectName"
              class="form-control"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="image">Cover Image Url</label>
            <input
              type="text"
              id="image"
              formControlName="projectImageUrl"
              class="form-control"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="trackCount">Number of Tracks</label>
            <input
              type="number"
              id="trackCount"
              formControlName="numOfTracks"
              class="form-control"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="totalLength">Total Project Time</label>
            <!-- Calculate the sum of all track.trackLength of this.project -->
            <!-- but for now.. -->
            <input
              type="number"
              id="totalLength"
              formControlName="projectLength"
              class="form-control"
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
