<ng-container>
  <div class="row">
    <div class="col-xs-12">
      <form
        [formGroup]="trackForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
            >Save
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()"
            >Cancel
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="name">Track Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="trackName"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="trackUrl">Track Url</label>
            <input
              type="text"
              id="trackUrl"
              formControlName="trackUrl"
              class="form-control"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="imageUrl">Image Url</label>
            <input
              type="text"
              class="form-control"
              id="imageUrl"
              formControlName="trackImageUrl"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="length">Track Length</label>
            <input
              type="number"
              class="form-control"
              id="length"
              formControlName="trackLength"
            >
          </div>
        </div>
        <div class="row">
          <div
            class="col-xs-12"
            formArrayName="artist"
          >
            <div
              class="row"
              *ngFor="let artistCrl of artistControls; let i = index"
              [formGroupName]="i"
              style="margin-top: 10px;"
            >
              <div class="col-xs-4">
                <select
                  type="text"
                  id="artistName"
                  class="form-control"
                  formControlName="artistName"
                >
                  <option value="" disabled selected>-select-</option>
                  <option *ngFor="let artist of artists" [value]="artist" >{{artist.artistName}}</option>
                </select>
<!--                <input-->
<!--                  type="text"-->
<!--                  id="artistName"-->
<!--                  class="form-control"-->
<!--                  formControlName="artistName"-->
<!--                  placeholder="Artist Name"-->
<!--                >-->
              </div>
              <div class="col-xs-3">
                <input
                  type="text"
                  id="pro"
                  class="form-control"
                  formControlName="pro"
                  placeholder="PRO"
                >
              </div>
              <div class="col-xs-3">
                <input
                  type="text"
                  id="proIPI"
                  class="form-control"
                  formControlName="proIPI"
                  placeholder="IPI #"
                >
              </div>
              <div class="col-xs-2">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onDeleteArtist(i)"
                >X</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="onAddArtist()"
                >Add Artist
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
