<div class="row">
  <div class="col-xs-12">
    <img
      src="https://i.etsystatic.com/13386525/r/il/304c20/2417951462/il_fullxfull.2417951462_r3p8.jpg"
      alt=""
      class="img-responsive"
      style="max-height: 200px;"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Artist Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group dropdown">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
      >Manager Artist Entry<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;">Add to Favorites</a></li>
        <li><a style="cursor: pointer;">Edit Artist</a></li>
        <li><a style="cursor: pointer;">Delete Artist</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Artist Description</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">
        <p>Project Image - Project.name</p>
      </li>
    </ul>
  </div>
</div>
