<ng-container *ngIf="artist">
<div class="row">
  <div class="col-xs-12">
    <img
      [src]="artist.artistImageUrl"
      [alt]="artist.artistName"
      class="img-responsive"
      style="max-height: 200px;"
    >
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{artist.artistName}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown
      >
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manager Artist<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddTrack()" style="cursor: pointer;">Add Track</a></li>
          <li><a (click)="onEditArtist()" style="cursor: pointer;">Edit Artist</a></li>
          <li><a (click)="onDeleteArtist()" style="cursor: pointer;">Delete Artist</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- FIND A WAY TO USE THIS REALESTATE -->
      <p>Artist Description</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          <!-- REPLACE WITH FILTERED LIST (default to release date) SONG AND PROJECT w/ LINKS -->
          <p>{{artist.pro}} - {{artist.artistTrack}}</p>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
