<ng-container>
  <div class="row">
    <div class="col-xs-12">
      <form
        [formGroup]="projectForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
            >Save</button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()"
            >Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="name">Project Name</label>
            <input
              type="text"
              id="name"
              formControlName="projectName"
              class="form-control"
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
