<div class="row">
  <div class="col-xs-12">
    <form
      [formGroup]="artistForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
          >Save
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()"
          >Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="artistName"
              class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
            src="imagePath.value"
            alt=""
            class="img-responsive"
          >
        </div>
      </div>
      <div
        class="form-group"
      >
        <label for="pro">PRO</label>
        <select
          class="form-control"
          name="pro"
          id="pro"
        >
          <option value="ascap">ASCAP</option>
          <option value="bmi">BMI</option>
          <option value="sesac">SESAC</option>
        </select>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="ipi">IPI Number</label>
            <input
              type="text"
              id="ipi"
              class="form-control"
              formControlName="ipi"
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
